{{ container_storage_dir_base_backup }}/{{ mysql_container_name }}_backups/{{ mysql_container_name }}.sql.bz2 {
 daily
 rotate 20
 copy
 dateext
 dateyesterday
 missingok
 notifempty
 create 660 root root
}